* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
body {
    background-image: url('./img/cover-page-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
nav {
    background-color: black;
    padding: 10px;
    box-shadow: white 0px 20px 30px -10px;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
li {
    align-self: center;
}
.nav-link {
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    text-shadow: 1px 1px 2px white;
    color: white;
}
.nav-link:hover, .nav-link:active, .nav-link:visited {
    text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em white;
    transition: 0.1s;
    border-bottom: solid 3px white;
}